/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.owl-wrapper {
    width: 100%;
}
.owl-btn-wrapper {
    margin-top: .75rem;
    margin-bottom: .75rem;
}
#dd_owl_shortcode .no-image{
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
#dd_owl_shortcode .item {
    max-width: 100%;   
}